.home {

  text-align: center;

  .intro-text {
    color: #000;

    p {
      font-size: 2em;
      padding: 1em 0;
      line-height: 1.7;
      a {
        color:#d5cf65;
        text-decoration: none;
      }

    }
  }

}
