
.home {
  color:#32373f;

  section {
    padding: 6em 0;
    position: relative;
    background-color: #fff;


    .wrapper {
      width: 100%;
      text-align: center;
      max-width: 1024px;
      margin: 0 auto;
      position: relative;
      z-index: 100;

    }

    &.intro-text {
      padding: 10em 0;
      background-image: url('./static/img/hero-background.jpg');
      background-size: cover;
      background-position: center center;

      h1 {
        text-transform: none;

        span {
          color:#FFC54B;
        }
      }

      p {
        padding: 1em 0;
      }
    }

    &.about {
      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.76;
        padding: 0 2em;

        span {
          font-weight: 400;
        }
      }
    }

    &.why {
      display: flex;
      padding: 0;
      flex-wrap: wrap;

      .column {
        position: relative;

        ul {
          list-style-type: disc;

          li {
            padding: 1em 0;
          }
        }

        flex: 1;
        padding: 6em 8em;
        background-color:#f8f8fa;

        &.yellow {
          display:flex;
          align-items:center;
          background-color: #FFEF76;

          h1 {
            position:relative;
            z-index: 100;
          }
        }
      }
    }


  }
}
