.layout {
  $header-height: 100px;
  $footer-height: 100px;
  font-family: $sans-serif-font;


  .page-wrapper {
    max-width: 1024px;
    margin: 0 auto;

  }
  &__header {
    position: relative;
    top: 0;
    height: $header-height;
    line-height: $header-height;
    width: 100%;
    padding: 0 2em;
    z-index: 100;

    a {
      color: #000;
    }

    .logo {
      float: left;
      img {
        width: 100%;
        max-width:180px;
      }

    }

    nav {
      display: inline-block;
      margin-left: 50px;
      float: right;

      li {
        display: inline-block;
      }

      a {
        color: #000;
        display: inline-block;
        height: $header-height;
        line-height: $header-height;
        padding: 0 10px;
        position: relative;

        &.active {
          color:#FFC54B;
        }

        &:hover:after {
          content:'';
          width: calc(100% - 20px);
          height: 2px;
          background: #FFC54B;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 30px;
        }
      }

    }
  }

  &__content {
    color: #32373f;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

  }

  &__footer {
    color: #32373f;
    position: relative;
    height: $footer-height;

    p {
      text-align: center;
    }
    .social-icons {
      max-width: 6em;
      margin: 2em auto;
      display: flex;
      justify-content:space-between;

    }
    li a {
      &:hover {
        svg {
          fill: #FFC54B;
        }
      }

      display:block;
      svg {
        fill: #32373f;
        width: 25px;
        height: 25px;

      }

    }

  }
  .modal {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 150vh;
     text-align: center;
     z-index: 999;
     background-color: rgba(32,30,15, .9);

    > div {
      width:60%;
      margin: 10em auto;
      background-color: #fff;
      padding:15px;
      min-width: 400px;

      .close {
       cursor: pointer;
       font-size: 21px;
       float: right;
      }

      form {
        p {
          margin: 2em auto;
          text-align: center;
        }
        * {
          display: block;
          text-align: left;
          width: 65%;
          margin: 1em auto;
        }
        input, textarea {
          border: 1px solid #32373f;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 300;
          padding: 5px 10px;

        }
        input {
          background: none!important;
        }
        label {
          margin: 1em auto;
        }

        .submitButton {
          margin: 2em auto;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          padding: 5px 15px;
          height: 50px;
          width: 130px;
          background-color: #FFC54B;
          border: 1px solid #FFC54B;
          cursor: pointer;

          &:hover {
            background-color: #BF8B1C;
            color: #fff;
          }

        }
      }
    }
  }


}
