.layout {
  $header-height: 100px;
  $footer-height: 100px;
  font-family: $sans-serif-font;

  &.modal-open {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }


  .page-wrapper {
    max-width: 1024px;
    margin: 0 auto;

  }
  &__header {
    position: relative;
    top: 0;
    height: $header-height;
    line-height: $header-height;
    width: 100%;
    padding: 0 2em;
    z-index: 100;

    .top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      .logo {

        img {
          width: 100%;
          max-width:180px;

        }
      }
      nav {

        a {
          color: #000;
          text-decoration: underline;

          &:hover {
            color:#FFC54B;
          }
        }
      }
    }
  }

  &__content {
    color: #32373f;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

  }

  &__footer {
    color: #32373f;
    position: relative;
    height: $footer-height;

    .info {
      text-align: center;
      margin: 0 1em;
      a {
        color: #FFC54B;
      }
    }

    p {
      text-align: center;
    }
    .social-icons {
      max-width: 6em;
      margin: 1em auto;
      display: flex;
      justify-content:space-between;

    }
    li a {
      &:hover {
        svg {
          fill: #FFC54B;
        }
      }

      display:block;
      svg {
        fill: #32373f;
        min-width: 25px;
        min-height: 25px;

      }

    }

  }
  .modal {
     position: fixed;
     overflow: scroll;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100vh;
     text-align: center;
     z-index: 999;
     background-color: rgba(32,30,15, .9);

     svg {
        width: 100px;
      }

    > div {
      width:60%;
      margin: 10em auto;
      background-color: #fff;
      padding:15px;
      min-width: 400px;

      .close {
       cursor: pointer;
       font-size: 21px;
       float: right;
      }

      form {
        p {
          margin: 2em auto;
          text-align: center;
        }
        * {
          display: block;
          text-align: left;
          width: 65%;
          margin: 1em auto;
        }
        input, textarea {
          border: 1px solid #32373f;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 300;
          padding: 5px 10px;

          &.email-field--error {
            border: 1px solid #E62F2D;
          }

        }

        label {
          margin: 1em auto;
        }

        span.error {
          text-align: center;
          color: #E62F2D;
        }

        .submitButton {
          margin: 2em auto;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          padding: 5px 15px;
          height: 50px;
          width: 130px;
          background-color: #FFC54B;
          border: 1px solid #FFC54B;
          cursor: pointer;

          &:hover {
            background-color: #BF8B1C;
            color: #fff;
          }

        }
      }
    }
  }
}

@media (max-width: 480px) {
  .layout {
    p, .info p, .info a {
      font-size: 19px;
    }

    &__header {
      margin: 2em 0;
      line-height: 1.5;
      height: 150px;

      .top-nav {
        display: block;
        text-align: center;
        padding: 1em 0;

        .logo {
          img {
            width: 85%;
            margin: 0 auto;
          }
        }

        nav {

          a {
            font-size: 22px;
          }
        }
      }
    }
    .modal {
      > div {
        min-width: 85%;

        form {
          * {
            width: 92%;
          }
          input, textarea {
            min-width: 85%;
            height: 45px;
          }

          .submitButton {
            width: 85%;
        }
        }

      }
    }
    &__footer {
      .social-icons {
        max-width: 10em;
        li a svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

}